footer {
  width: 100%;
  background-color: lightskyblue;
  color: white;
  padding: 5%;
}

.fa {
  padding: 15px;
  font-size: 25px;
  color: white;
}

.fa:hover {
  color: grey;
  text-decoration: none;
}

@media (max-width: 900) {
  .fa {
    font-size: 20px;
    padding: 10px;
  }
}
.col-sm-3 {
  padding-right: 100px;
}
